<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/img/logo-saudenet.png" alt="Logo do SaúdeNet" height="50">
      </a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/entrar">Entrar</a>
          </li>
          <div class="dropdown">
            <a class="btn btn-success text-white dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              Cadastrar como
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/paciente/cadastro">Paciente</a>
              <a class="dropdown-item" href="/profissional/cadastro">Profissional de saúde</a>
            </div>
          </div>
        </div>
      </div>
  </nav>