<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/profissional/">
        <img src="/img/logo-saudenet.png" alt="Logo do SaúdeNet" height="50">
      </a>
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/profissional">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/profissional/consultas">Consultas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/profissional/vagas">Dias de atendimento</a>
          </li>
          <div class="dropdown">
            <a class="btn bg-dark text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              Minha conta
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/profissional/dados">Meus dados</a>
              <a class="dropdown-item" href="/profissional/logout">Sair</a>
            </div>
          </div>
        </div>
      </div>
  </nav>
  