<html lang="PT-BR>
<head>
    <%- include ('../../partials/head.ejs') %>
    <title> Cadastrar plano de saúde | SaúdeNet</title>
</head>
<body>
    <%- include ('../../partials/navbaradmin.ejs') %>
      <br>
      <div class="container- d-flex justify-content-center align-items-center" style="min-height: vh">
      	<form class="border bg-white p-3 rounded" action="/admin/planosaude/criar" method="POST" style="width: 450px;">
      	    <h3 class="text-center p-3" >Cadastro de plano de saúde</h3>
      	      
            <div class="mb-3">
            <label for="nome" class="form-label" >Nome</label>
            <input type="nome" class="form-control" name="nome" id="nome">
            </div>

        <br>
        <button type="submit" class="btn btn-success w-100">Cadastrar</button>
      
		</form>
    </div>
       
</body>

    <%- include ('../../partials/codigo.ejs') %>

</html>
