<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>SaúdeNet</h4><br>

    Clique no link abaixo para criar uma nova senha: <br>
    <a href="http://localhost:8080/paciente/redefinirsenha/<%= token %>">Criar sua nova senha</a><br><br>
    Se o link acima não funcionar, copie e cole o link abaixo em um navegador.<br>
    http://localhost:8080/paciente/redefinirsenha/<%= token %><br><br>

    O link expira em 15 minutos.
</body>
</html>