<html lang="PT-BR>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>

      <br>
      <div class="container- d-flex justify-content-center align-items-center" style="min-height: vh">

        <form action="/profissional/search" method="POST">
        
            <select class="form-select mb-3" name="categoria"> 

                <option selected disabled>Escolha um profissional</option>
                <option value="Psicólogo">Psicólogo</option>
                <option value="Endocrinologista">Endocrinologista</option>
                <option value="Dermatologista">Dermatologista</option>
    
            </select>

            <button class="btn btn-success" type="submit" >Pesquisar</button>

        </form>



      </div>
       
    
</body>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src=”/js/bootstrap.min.js”> </script>
</html>