<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>
<body>
    <h3> Consultas </h3>

    <form action="/consulta/pesquisa" method="GET">
        <input type="text" name="tipo" id="tipo" placeholder="Tipo">
        <input type="text" name="especialidade" id="especialidade" placeholder="Especialidade">
        <button> Pesquisar</button>
    </form>
    
    
</body>
</html>