<!DOCTYPE html>
<html lang="PT-BR">
   <head>
    <%- include ('partials/head.ejs') %>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand">
            <img src="../imagens/logo-saudenet.png" alt="Logo do SaúdeNet" height="50">
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <br>
      <br>
      <br>
      <br>
      <div class="container- d-flex justify-content-center align-items-center">
        <form name="formpaciente" id="formpaciente" class="border bg-white
        p-3  rounded" style= "width: 700px"> 
        <h2 class="text-center p-3" >Cadastre-se como paciente</h2>

        <div class="row">
            <div class="form-group col-md-4">
              <label for="nome">Nome completo</label>
              <input type="text" class="form-control" id="nome" name="nome">
            </div>
            
            <div class="form-group col-md-4">
              <label for="datanasc">Data de nascimento</label>
              <input type="date" class="form-control" id="datanasc" name="datanasc">
            </div>
            <div class="form-group col-md-3">
                <label for="sexo">Sexo</label>
                    <select id="sexo" name="sexo" class="form-select form-select-lg mb-3">
                        <option value="">Selecione</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
            </div>
            
            

           </div>
           
           <div class="row">
            <div class="form-group col-md-4">
                <label for="tel"> Telefone </label>
                <input type="text" class="form-control" onkeypress="$(this).mask('(00) 00000-0000')" id="tel" name="tel">
              </div>
            
            <div class="form-group col-md-4">
              <label for="cpf"> CPF </label>
              <input type="text" class="form-control" onkeypress="$(this).mask('000.000.000-00')" id="cpf" name="cpf">
            </div>
            <div class="form-group col-md-4">
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="cidade" name="cidade">
            </div>
                <div class="form-group col-md-4">
                <label for="rua">Rua/Avenida</label>
                <input type="text" class="form-control" id="rua" name="rua">
            </div>
            
            <div class="form-group col-md-4">
              <label for="bairro">Bairro</label>
              <input type="text" class="form-control" id="bairro" name="bairro">
            </div>
            
            <div class="form-group col-md-4">
              <label for="cep">CEP</label>
              <input type="text" class="form-control" onkeypress="$(this).mask('00000-000')" id="cep" name="cep">
            </div>
            <div class="form-group col-md-4">
                <label for="UF">Estado</label>
                    <select id="UF" name="UF" class="form-select form-select-lg mb-4">
                        <option value="">Selecione</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espirito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
            </div>

            <div class="form-group col-md-4">
                <label for="email" 
                       class="form-label" >Email</label>
                <input type="email" 
                       class="form-control" 
                       name="email" id="email" >
              </div>
              <div class="form-group col-md-4">
                <label for="senha" 
                       class="form-label">Senha</label>
                <input type="password" 
                       name="senha" 
                       class="form-control" 
                       id="senha" id="senha"  >
              </div>
              <div class="form-group col-md-4">
                <label for="confirmar_senha"
                class="form-label">Confirmar senha</label>
                <input type="password" name="confirmarsenha"
                class="form-control" id="confirmarsenha"  >
            </div>
           </div>
           
            <button type="submit" 
		          class="btn btn-success">Cadastrar</button>
		</form>

            </div>
           
    
    </form>
      </div>
      <!--Scripts-->
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/jquery.validate.js"></script>
    <script src="../js/jQuery-Mask-Plugin-master/src/jquery.mask.js"></script>
    <script src="../js/localization/messages_pt_BR.min.js"></script>
    <script src="../js/additional-methods.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>


    <script> $(document). ready(function(){
         $("#formpaciente"). validate({
         rules:{
           nome: {
             required: true,
             minlength: 10,
             maxlength: 60,
           },
           datanasc: {
             required: true,
             date: true
           },
           sexo: {
               required: true,
           },
           tel: {
             required: true
             
           },
           rua: {
               required: true,
               maxlength: 40
           },
           bairro: {
               required: true
           },
           cep:{
                required:true
           },
           cidade:{
               required: true,
               maxlength: 35
           },
           UF: {
          required: true
           },
           cpf: {
             required: true,
             cpfBR: true
           },
           email: {
             required: true,
             email: true
           },
           senha: {
             required: true,
             minlength: 8,
             maxlength: 16
           },
           confirmarsenha:{
               required: true,
               equalTo: '#senha'
           }
           
        }
         })

    })
    </script>
    
</body>
</html>
