<!DOCTYPE html>
<html lang="PT-BR">
     <head>
    <%- include ('partials/head.ejs') %>
</head>
<body>
    <%- include ('partials/navbarpaciente.ejs') %>
    <br>
    <div class="container bg-white col-md-9">
        <div class="row">
            <div class="col-md-12">
                <br>
            <h4 class="text-center">Dados pessoais</h4>
            <br>
            <div class="table-responsive bg-white pb-4">
    
                    
                  <table id="mytable" class="table ">
                       
        <tbody>
        
        <tr>
        
        <th>Nome</th>
        <td></td>
        <td><p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >Editar</button></p></td>
        
        </tr>
        
     <tr>
        
        <th>Gênero</th>
        <td></td>
        <td><p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >Editar</button></p></td>
        </tr>

        <tr>
        <th>Data de nascimento</th>
        <td></td>
        <td><p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" > Editar</button></p></td>
        </tr>

        <tr>
          <th>Estado</th>
          <td></td>
          <td><p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >Editar</button></p></td>
         </tr>

        

        <tr>
        <th>Cidade</th>
        <td></td>
        <td><p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >Editar</button></p></td>
       </tr>
        
        
       <tr>
        <th>Rua/Avenida</th>
        <td></td>
        <td><p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >Editar</button></p></td>
        </tr>
        <tr>
            <th>Bairro</th>
            <td></td>
            <td><p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >Editar</button></p></td>
            </tr>

            <th>CEP</th>
            <td></td>
            <td><p data-placement="top" data-toggle="tooltip"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit">Editar</button></p></td>
            </tr>

            <th>Senha</th>
            <td></td>
            <td><p data-placement="top" data-toggle="tooltip"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit">Editar</button></p></td>
            </tr>

            <th>CPF</th>
            <td></td>
            <td><p data-placement="top" data-toggle="tooltip"></p></td>
            </tr>

            <th>Email</th>
            <td></td>
            <td><p data-placement="top" data-toggle="tooltip"></p></td>
            </tr>
        
        
        </tbody>
            
    </table>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <button class="btn btn-danger" data-toggle="modal"  data-toggle="modal" data-target="#delete"> Excluir conta </button>
        </div>
      </div>
    </div> 
    
            </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
          <div class="modal-dialog">
        <div class="modal-content">
              <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h4 class="modal-title custom_align" id="Heading">Editar dado</h4>
          </div>
              <div class="modal-body">
              <div class="form">
            <input class="form-control " type="text" placeholder="">
            </div>
          </div>
              <div class="modal-footer ">
            <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-ok-sign"></span> Editar</button>
            <button type="button" class="btn">Cancelar</button>
          </div>
            </div>
        <!-- /.modal-content --> 
      </div>
          <!-- /.modal-dialog --> 
        </div>
        
        
        
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
          <div class="modal-dialog">
        <div class="modal-content">
              <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h4 class="modal-title custom_align" id="Heading">Excluir conta </h4>
          </div>
              <div class="modal-body">
           
           <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Tem certeza? (não há como voltar atrás)</div>
           
          </div>
            <div class="modal-footer ">
            <button type="button" class="btn btn-danger" ><span class="glyphicon glyphicon-ok-sign"></span> Excluir minha conta</button>
            <button type="button" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
          </div>
            </div>
        <!-- /.modal-content --> 
      </div>
          <!-- /.modal-dialog --> 
        </div>
      </div>
</body>
<br>
<br>
<br>
<br>
<footer class="text-center text-sm start text-white bg-dark">
<%- include('partials/footer.ejs') %>
</footer>
<script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>

</html>