<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    Index paciente.
    <br>
    <%= paciente.nome %>
    <%= paciente.cpf %>
    <%= paciente.email %>
    <div class="mb-3">
        <label for="data_nascimento" class="form-label">Data de nascimento</label>
        <input type="date" name="data_nascimento" class="form-control" id="" value="<%= paciente.data_nascimento %>">
        </div>
    
    <br>
    <a href="/paciente/logout">Logout</a>

</body>
</html>